<!DOCTYPE html>
<html>
<head>
  <title>Ivan the Terrible's Blog</title>


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
</html>
